.carousel {
  width: 100%;
  max-width: 100%;
  margin: auto;
  position: relative;
}

.imageContainer {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative; /* Enable absolute positioning for child elements */
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 2; /* Ensure buttons are above the image */
}

.navButton {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  color: white;
  border-radius: 50%;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  border: none;
}

.navButton:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darker on hover */
}

.dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2; /* Ensure dots are above the image */
}

.dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activeDot {
  background-color: #0072f5; /* Next UI primary color */
}

.dot:hover {
  background-color: #ffffff; /* Fully white on hover */
}
